<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Táltos Állatorvosi Rendelő</title>
    </head>
    <body>
        <section layout:fragment="mainContent">
            <section>
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-3 sublogo">Műtéti eszközök</div>
                            <nav class="col-12 col-md-9 submenu">
                                <a href="./surgical.html" th:href="@{/inventory/surgical}"  class="actualSubmenu">Műtéti eszközök</a>
                                <a href="./medicine.html" th:href="@{/inventory/medicine}">Gyógyszerek</a>
                                <a href="./food.html" th:href="@{/inventory/food}">Tápok</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <form class="leftbar" th:action="@{/inventory/surgical/multiplyPrice}">
                            <input type="number" step="0.01" class="input" placeholder="Árszorzó" th:value="${multiplier}" th:name="multiplier" required>
                            <input class="input feltoltes" type="submit" value="Ár szorzás">
                        </form>
                    </div>
                    <div class="col-12 col-md-6">
                        <form class="searchbar" th:action="@{/inventory/surgical}">
                            <input type="search" class="input" placeholder="Keresés" th:value="${search}" th:name="name">
                            <button class="input feltoltes"><i class="fa fa-search" id="icon"></i></button>
                        </form>
                    </div>
                </div>
            </section>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <form th:action="@{/inventory/surgical/surgicalProc(id=${id})}" th:object="${surgical}" method="post">
                                Név:<span class="required">*</span>
                                <input class="input name" type="text" placeholder="Név" th:field="*{name}" required>
                                Egységár:
                                <input class="input pricePerKg" type="number" placeholder="Ár" th:field="*{price}">
                                Db/Hossz:
                                <input class="input quantity" type="number" placeholder="Db" th:field="*{quantity}">
                                <input class="input" type="checkbox" th:field="*{isYarn}">
                                Fonal <br>
                                Készlethiány ennyi darabnál: 
                                <input class="input quantity" type="number" placeholder="Db" th:field="*{outOfStock}">
                                <input class="input feltoltes" type="submit" value="Hozzáadás">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <table class="dataTable">
                                <tr>
                                    <th class="name">Név</th>
                                    <th class="pricePerKg">Beszerzési ár</th>
                                    <th class="pricePerKg">Eladási ár</th>
                                    <th class="quantity">Db/Hossz</th>
                                    <th class="state">Típus</th>
                                    <th class="modify">Módosítás</th>
                                    <th class="delete">Törlés</th>
                                </tr>
                                <tr th:each="it: ${surgicals}">
                                    <td th:text="${it.name}"></td>
                                    <td th:text="${it.price} + 'Ft'"></td>
                                    <td th:text="${it.salePrice} + 'Ft'"></td>
                                    <div th:switch="${it.isYarn}">
                                        <td th:case="false" th:text="${it.quantity} + 'db'"></td>
                                        <td th:case="true" th:text="${it.quantity} + 'm'"></td>
                                    </div>
                                    <td th:text="${it.isYarn} ? 'Fonal' : 'Egyéb'"></td>
                                    <td><a th:href="@{/inventory/surgical/updateSurgical(id=${it.id})}"><i class="fa fa-pencil"></i></a></td>
                                    <td><a th:href="@{/inventory/surgical/deleteSurgical(id=${it.id})}"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>