<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Táltos Állatorvosi Rendelő</title>
    </head>
    <body>
        <section layout:fragment="mainContent">
            <section>
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-3 sublogo">Páciensek adatai</div>
                            <nav class="col-12 col-md-9 submenu">
                                <a href="./patients.html" th:href="@{/patients/newPatient}">Új páciens felvitele</a>
                                <a href="./search.html" th:href="@{/patients}" class="actualSubmenu">Páciensek</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container">
                <div class="row">
                    <div class="col-12">
                        <form class="searchbar" th:action="@{/patients}">
                            <select class="input" th:name="condition" required>
                                <option th:value="'name'">Név</option>
                                <option th:value="'address'">Lakcím</option>
                                <option th:value="'phone'">Telefonszám</option>
                                <option th:value="'email'">E-mail</option>
                                <option th:value="'other'">Megjegyzés</option>
                            </select>
                            <input type="search" class="input" placeholder="Keresés" th:value="${search}" th:name="param">
                            <button class="input feltoltes"><i class="fa fa-search" id="icon"></i></button>
                        </form>
                    </div>
                </div>
            </section>

            <section class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <table></table>
                            <p style="font-size: 14pt;">Keresés Gazdik alapján</p>
                            <table class="dataTable">
                                <tr>
                                    <th class="name">Név</th>
                                    <th class="name">Lakcím</th>
                                    <th class="packaging">Telefonszám</th>
                                    <th class="name">E-mail</th>
                                </tr>
                                <tr th:each="it : ${owners}">
                                    <td><a th:text="${it.name}" th:href="@{/patients/datasheet(id=${it.id})}"></a></td>
                                    <td><a th:text="${it.address}" th:href="@{/patients/datasheet(id=${it.id})}"></a></td>
                                    <td><a th:text="${it.phone}" th:href="@{/patients/datasheet(id=${it.id})}"></a></td>
                                    <td><a th:text="${it.email}" th:href="@{/patients/datasheet(id=${it.id})}"></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>